
.blogDiv{width:75vw;
margin-left:auto;
margin-right:auto;
}
.blogPic{max-width:50vw;
display:block;
margin:auto;
padding:2vh;}

.blogTitle{margin-left:5vw;}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:#bed7d8;

}

.checkInDiv{
	width:66%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#dayText{width:50%;
height: 40vh;
margin-left:auto;
margin-right:auto;}


.detailsDiv{
	text-align:center;
	justify-content:center;
	display:flex-box;
}
.face{width:3vw;}

#footerText{color:white;
font-size:large;

}


.logoPic{
	max-width:40vw;
	margin-left:auto;
	margin-right:auto;
}
.topHead{text-align: center;
background-color:azure;
width:33vw;
margin-left: auto;
margin-right:auto;
border-radius: 10%;
}

.menu{width: 85vw;
    margin-left:auto;
    margin-right:auto;
    display:flexbox;

    
   
}


.menuItem{
display:inline;
width:25%;

}

.pageDiv{background-color:#bed7d8;
position:relative;
min-height:100vh;}

.pageWrap{padding-bottom:2.5rem;
background:white;
width:90vw;
margin-left:auto;
margin-right:auto;
margin-top:2vh;
}

.pixel-Bad{width:5vw;
height:5vw;
border-radius:50%;
background-color:#eb002a;
display:inline-block;
}
.pixel-Poor{width:5vw;
height:5vw;
border-radius:50%;
background-color:#fd7a36;
display:inline-block;
}
.pixel-Neutral{width:5vw;
height:5vw;
border-radius:50%;
background-color:#8cfffb;
display:inline-block;
}
.pixel-Okay{width:5vw;
height:5vw;
border-radius:50%;
background-color:#b7e543;
display:inline-block;
}
.pixel-Great{width:5vw;
height:5vw;
border-radius:50%;
background-color:#2db155;
display:inline-block;


}


.pixelDisplay{width:66vw;
height:100%;
display:block;
margin-left:auto;
margin-right:auto;
}

#profileBody{
margin-left:auto;
margin-right:auto;
width:50%;}

.resourceDiv{
	width:65vw;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
}


.social-footer {
	position:absolute;
	height:2.5rem;
    bottom:0;
    width: 100%;
    background:#1779ba;
}




.subnav-hero-section {
  text-align: center;
  background: #1779ba;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background:grey;
}


